{% extends "layout.html" %}
{% block content %}
    <div>
        <p>
        <h5>
            Academic Achievements:
        </h5>
		<ul>
            <li>President's List at Kennesaw State University: I was among the Kennesaw State students who were honored for academic excellence in the Spring 2018 semester. <a href="https://meritpages.com/shayanshamskolahi" target="_blank">link</a></li>
            <li>The College of Computing and Software Engineering 4.0 Club (for three consecutive semesters)</li>
            <li><img src="/static/images/dean1.jpg" style="height: auto; width: 75%;"></li>
            <li><img src="/static/images/dean2.jpg" style="height: auto; width: 75%;"></li>
            <li><img src="/static/images/dean3.jpg" style="height: auto; width: 75%;"></li>
        </ul>
		
        <p>
    </div>
{% endblock content%}
