{% extends "layout.html" %}
{% block content %}
    <div>
        <p>
        <h5>
            Academic Achievements:
        </h5>
		<ul>
            <li>Master of Science in Information Technology</li>
            <img src="/static/images/msit.jpeg" style="height: auto; width: 75%;">
            <li>Member of Upsilon Pi Epsilon International Honor Society for the Computing and Information Disciplines. Recognized by the Association for Computing Machinery (ACM) and the IEEE Computer Society (IEEE-CS), UPE is also a charter member of The International Federation of Engineering Education Societies (IFEES)</li>
            <img src="/static/images/upe.jpg" style="height: auto; width: 75%;">
            <li>President's List at Kennesaw State University: I was among the Kennesaw State students who were honored for academic excellence in the Spring 2018 semester. <a href="https://meritpages.com/shayanshamskolahi" target="_blank">link</a></li>
            <li>The College of Computing and Software Engineering 4.0 Club (for four consecutive semesters):</li>
            <img src="/static/images/dean4.jpg" style="height: auto; width: 75%;">
            <img src="/static/images/dean1.jpg" style="height: auto; width: 75%;">
            <img src="/static/images/dean2.jpg" style="height: auto; width: 75%;">
            <img src="/static/images/dean3.jpg" style="height: auto; width: 75%;">
        </ul>
        <p>
    </div>
{% endblock content%}
