{% extends "layout.html" %}
{% block content %}
    <div>
        <p>
        <h5>
            About:
        </h5>
        Started out as a self-learning project, the present portfolio is an attempt to employ and expand my understanding of topics in machine learning, data science and related programming skills. 
		<br><br> The lanuage detection tool incorporates scikit-learn to detect the language of the given text. Using TF-IDF vectorization, the classifier is able to predict texts in English, German, French, Spanish, Itanlian, Russian, Japanese, Dutch, Polish, Portugese, and Arabic.
		<br><br> The sentiment analysis tool uses TensorFlow to extract and preprocess the data (IMDB reviews dataset) and Keras to train an RNN consisting of embedding and Gated Recurrent Unit layers. The given result indicates the probability of the given review denoting positive sentiment.
		<br><br> The data visualization tool visualizes word association using a network graph. It leveregs the interactive features that Bokeh library offers for visualization. It finds the top n associated words with given input using NLTK and Gensim word2vec embeddings. The darker the edge the stronger the bound between the word nodes.
		<br><br> The portfolio is deployed on my Raspberry Pi (hence slow response time for TensorFlow operations in the sentiment analysis component)  using Nginx as the web server and uWSGI as the application server. The application itself is developed in Flask. I'm using Skeletons (my favorite, minimalist CSS framework) to style the portfolio.
		<br><br> I'm planning to add more interesting components with time. Please feel free to reach out and make suggestions to improve my work. I'd appreciate your feed-back.
		</p>
        <p>
        <a href="https://www.linkedin.com/in/shayan-shamskolahi/" target="_blank"><img src="/static/images/li.png"></a>
        <a href="https://github.com/sh-shmss" target="_blank"><img src="/static/images/gh.png"></a>
        </p>
        <p>
        <h5>
            References:
        </h5>
		<ul>
            <li>https://github.com/scikit-learn/scikit-learn/blob/master/doc/tutorial/text_analytics/solutions/exercise_01_language_train_model.py</li>
            <li>https://github.com/ageron/handson-ml2/blob/master/16_nlp_with_rnns_and_attention.ipynb</li>
        </ul>
        <p>
    </div>
{% endblock content%}
