<html>
    <head>
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="/static/image/png" href="images/favicon.png">

    <div class="row">
    <div class="one-third column" style="margin-top: 1%; margin-left: 1%">
        <div>
            <a class="button" href="/about">About</a><br>
            <a class="button" href="/ld">Language Detection</a><br>
            <a class="button" href="/sa">Sentiment Analysis</a><br>
        </div>
    </div>
    <div class="two-thirds column" style="margin-top: 1%; margin-left: 0%">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>

       
